@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="ServiceCreate">
    
    <div class="form-group">
        <input type="submit" value="View Accounts and Balance" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ServiceCreate">

    <div class="form-group">
        <input type="submit" value="Deposit" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ServiceCreate">

    <div class="form-group">
        <input type="submit" value="WithDraw" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ServiceCreate">

    <div class="form-group">
        <input type="submit" value="Transfer money" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ServiceCreate">

    <div class="form-group">
        <input type="submit" value="View Statements" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ServiceCreate">

    <div class="form-group">
        <input type="submit" value="View Transactions" class="btn btn-primary" />
    </div>
</form>